//background
$backgroundColorBody: cornflowerblue;
$backgroundColorWrapper: #fff;
$backgroundColorHeader: #eff0f2;
$backgroundColorFooter: #262b2e;
//color
$baseLightColor: #bbb8b9;
//width
$maxWrapperWidth: 1600px;
$wrapperWidth: 100vw;
$logoHeaderWidth: 130px;
//height
$headerHeight: 110px;
$footerHeight: 320px;
$logoHeaderHeight: 60px;
//padding
$paddingHorizonContent: 135px;
//gap
$iconColumnGap: 5px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColorBody;
}

.wrapper {
  max-width: $maxWrapperWidth;
  width: $wrapperWidth;
  background-color: $backgroundColorWrapper;
  margin: 0 auto;
  display: grid;
  grid-template-rows: $headerHeight 1fr $footerHeight;
}

.header {
  padding: 0 $paddingHorizonContent;
  background-color: $backgroundColorHeader;
  display: grid;
    .header__logo {
      display: grid;
      align-self: end;
      height: $logoHeaderHeight;
      width: $logoHeaderWidth;
    }
}

.logo {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: $backgroundColorFooter;
  display: grid;
}

.social-networks {
  display: grid;
  justify-self: center;
  align-self: center;
  .social-networks__header {
    color: $baseLightColor;
  }
  .social-networks__icons-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: $iconColumnGap;
  }
}


