//background
$backgroundColorBody: cornflowerblue;
$backgroundColorWrapper: #fff;
$backgroundColorHeader: #eff0f2;
$backgroundColorFooter: #262b2e;
$backgroundColorFooterIcon: #424648;
$aboutSectionBackgroundColor: #f8fafa;
$dataSectionFormBackground: #485862;
//color
$baseLightColor: #bbb8b9;
$baseMiddleColor: #6eeee4;
$baseDarkColor: #181919;
$helloSectionColor: #505050;
$helloSectionMark: #b2f2ee;
//width
$maxWrapperWidth: 1440px;
$wrapperWidth: 100vw;
$logoHeaderWidth: 130px;
$footerIconWidth: 45px;
$glassOnBeerdekelWidth: 150px;
$contactUsButtonWidth: 230px;
$FormButtonWidth: 240px;
$dataSectionFormWidth: 610px;
$dataSectionOurContactsWidth: 500px;
//height
$headerHeight: 110px;
$footerHeight: 320px;
$logoHeaderHeight: 60px;
$footerIconHeight: 40px;
$helloSectionHeight: 700px;
$glassOnBeerdekelHeight: 120px;
$buttonHeight: 50px;
$aboutSectionHeight: 1000px;
$baseSectionHeaderHeight: 200px;
$workSectionHeight: 1165px;
$teamSectionHeight: 1360px;
$workSectionHeaderHeight: 160px;
$dataSectionHeight: 700px;
$dataSectionFormHeight: 460px;
//padding
$paddingBaseContent: 0 150px;
$paddingAboutSectionContent: 0 135px;
$pbDescriptionHeader: 30px;
$pbDescriptionText: 45px;
$paddingSVG: 20%;
//margin
$marginDescription: 0 55px;
//gap
$socialNetworkGap: 5px;
$iconColumnGap: 10px;
//border-radius
$buttonBorderRadius: 3px;
//shadow
$boxShadowAroundPhoto: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

//EXTEND
%base-sections {
  display: grid;
  grid-template-rows: $baseSectionHeaderHeight 1fr;
}

%base-sections-header {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  align-items: end;
  //grid-template-rows: 180px 1fr;
}

%base-sections-content {
  display: grid;
  //justify-self: center;
  align-content: center;
  gap: 15px
}
%base-render-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

//BODY
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColorBody;
}

.wrapper {
  max-width: $maxWrapperWidth;
  width: $wrapperWidth;
  background-color: $backgroundColorWrapper;
  margin: 0 auto;
  display: grid;
  grid-template-rows: $headerHeight 1fr $footerHeight;
}

//HEADER
.header {
  padding: $paddingBaseContent;
  background-color: $backgroundColorHeader;
  display: grid;
    .header__logo {
      display: grid;
      align-self: end;
      height: $logoHeaderHeight;
      width: $logoHeaderWidth;
    }
}

.logo {
  width: 100%;
  height: 100%;
}

//FOOTER
.footer {
  background-color: $backgroundColorFooter;
  display: grid;
}

.footer-social-networks {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-rows: repeat(2, 1fr);
  row-gap: $socialNetworkGap;
  .footer-social-networks__header {
    color: $baseLightColor;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
  }
  .social-networks__icons-list {
    @extend %base-render-icon;
    column-gap: $iconColumnGap;
  }
}

.social-networks-icon {
  height: $footerIconHeight;
  width: $footerIconWidth;
  background-color: $backgroundColorFooterIcon;
  display: grid;
    &:hover {
    background-color: $baseMiddleColor;
    }
  .social-networks-icon__svg {
    display: grid;
    justify-self: center;
    align-self: center;
    color: #eff0f2;
    width: 100%;
    height: 100%;
    padding: $paddingSVG;
      &:hover {
      color:  $backgroundColorFooter;
      }
  }
}

//MAIN
.main-page {
  display: grid;
  grid-template-rows: $helloSectionHeight $aboutSectionHeight $workSectionHeight $teamSectionHeight $dataSectionHeight;
}

.hello-section{
  position: relative;
  display: grid;
  grid-template-rows: 300px 1fr;
  background-color: $backgroundColorHeader;
  .hello-section__header {
    text-align: center;
    align-self: end;
    text-transform: uppercase;
    color: $helloSectionColor;
  }
  .hello-section__header_text-shadow_bottom {
    text-shadow: 3px 5px 4px #b1b1b1;
  }
  .hello-section__header_mark_green {
    background-color: $helloSectionMark;
    color: $helloSectionColor;
  }
  .contact-us-button {
    height: $buttonHeight;
    width: $contactUsButtonWidth;
    text-transform: uppercase;
    background-color: $backgroundColorHeader;
    border-radius: $buttonBorderRadius;
    border: 2px solid $helloSectionColor;
    justify-self: center;
    align-self: center;
    cursor: pointer;
  }
}

.cup-on-beerdekel {
  position: absolute;
  height: $glassOnBeerdekelHeight;
  width: $glassOnBeerdekelWidth;
  right: 200px;
  bottom: 100px;
  .beerdekel {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 5px;
    border-radius: 5px;
  }
  .glass {
    position: absolute;
    z-index: 2;
  }
}

.about-section {
  @extend %base-sections;
  background-color: $aboutSectionBackgroundColor;
  padding: $paddingAboutSectionContent;
  .about-section__header {
    @extend %base-sections-header;
    grid-template-rows: 180px 1fr;
  }
  .about-section__information {
    @extend %base-sections-content;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    //align-content: center;
    .about-section__photo {
      //width: 100%;
      //height: 100%;
      //justify-self: center;
    }
    .about-section__photo_box-shadow_around {
      box-shadow: $boxShadowAroundPhoto;
    }
    .about-section__description {
      margin: $marginDescription;
      .about-section__description-header {
        text-transform: uppercase;
        padding-bottom: $pbDescriptionHeader;
      }
      .about-section__description-text {
        padding-bottom: $pbDescriptionText;
      }
    }
  }
}

.works-section {
  @extend %base-sections;
  //padding: $paddingBaseContent;
  .works-section__header {
    @extend %base-sections-header;
    grid-template-rows: 180px 1fr;
  }
  .our-works {
    @extend %base-sections-content;
    grid-template-columns: repeat(3, 375px);
    grid-template-rows: repeat(2, 360px);
    justify-self: center;
    .our-works__photo-container {
      list-style-type: none;
      .our-works__photo {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.team-section {
  @extend %base-sections;
  grid-template-rows: $workSectionHeaderHeight 1fr;
  //padding: $paddingBaseContent;
  .team-section__header {
    @extend %base-sections-header;
    grid-template-rows: 140px 1fr;
  }
  .team-section-photos {
    @extend %base-sections-content;
    grid-template-columns: repeat(3, 365px);
    grid-template-rows: repeat(2, 440px);
    justify-self: center;
    .team-section-photos__photo-container {
      position: relative;
      list-style-type: none;
      display: grid;
      .information-block {
        display: none;
      }
      &:hover {
        .information-block {
          position: absolute;
          width: 90%;
          height: 55%;
          background-color: $baseMiddleColor;
          border-radius: $buttonBorderRadius;
          display: grid;
          justify-self: center;
          justify-items: center;
          bottom: 15px;
          padding: 30px 40px;
          //opacity: 0;
          .information-block__header {
            text-transform: uppercase;
            //padding-bottom: 10px;
          }
          .information-block__header-span {
            font-size: 16px;
            font-weight: normal;
            font-style: italic;
            text-transform: none;
          }
          .information-block__text {
            overflow-y: auto;
          }
          .information-block__icons-list {
            @extend %base-render-icon;
            .information-block-icon__svg:hover {
              color: $baseLightColor;
            }
          }
        }
      }
      .team-section-photos__photo {
        width: 100%;
        height: 100%;
      }
    }
  }
}

%data-section-blocks {
  height: $dataSectionFormHeight;
  width: $dataSectionFormWidth;
  background-color: $dataSectionFormBackground;
  opacity: 0.8;
}

.data-section {
  background-image:url('./assets/backgroundWithWinter.png');
  display: grid;
  grid-template-columns: 625px 1fr;
  padding: $paddingBaseContent;
  column-gap: 10px;
  .form-private-data {
    @extend %data-section-blocks
  }
  .our-contacts{
    @extend %data-section-blocks;
    width: $dataSectionOurContactsWidth;
  }

}






