.team-section, .works-section, .about-section {
  display: grid;
  grid-template-rows: 200px 1fr;
}

.team-section .team-section__header, .works-section .works-section__header, .about-section .about-section__header {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  align-items: end;
}

.team-section .team-section-photos, .works-section .our-works, .about-section .about-section__information {
  display: grid;
  align-content: center;
  gap: 15px;
}

.team-section .team-section-photos .team-section-photos__photo-container:hover .information-block .information-block__icons-list, .footer-social-networks .social-networks__icons-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
}

.wrapper {
  max-width: 1440px;
  width: 100vw;
  background-color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 110px 1fr 320px;
}

.header {
  padding: 0 150px;
  background-color: #eff0f2;
  display: grid;
}
.header .header__logo {
  display: grid;
  align-self: end;
  height: 60px;
  width: 130px;
}

.logo {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #262b2e;
  display: grid;
}

.footer-social-networks {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5px;
}
.footer-social-networks .footer-social-networks__header {
  color: #bbb8b9;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}
.footer-social-networks .social-networks__icons-list {
  column-gap: 10px;
}

.social-networks-icon {
  height: 40px;
  width: 45px;
  background-color: #424648;
  display: grid;
}
.social-networks-icon:hover {
  background-color: #6eeee4;
}
.social-networks-icon .social-networks-icon__svg {
  display: grid;
  justify-self: center;
  align-self: center;
  color: #eff0f2;
  width: 100%;
  height: 100%;
  padding: 20%;
}
.social-networks-icon .social-networks-icon__svg:hover {
  color: #262b2e;
}

.main-page {
  display: grid;
  grid-template-rows: 700px 1000px 1165px 1360px 700px;
}

.hello-section {
  position: relative;
  display: grid;
  grid-template-rows: 300px 1fr;
  background-color: #eff0f2;
}
.hello-section .hello-section__header {
  text-align: center;
  align-self: end;
  text-transform: uppercase;
  color: #505050;
}
.hello-section .hello-section__header_text-shadow_bottom {
  text-shadow: 3px 5px 4px #b1b1b1;
}
.hello-section .hello-section__header_mark_green {
  background-color: #b2f2ee;
  color: #505050;
}
.hello-section .contact-us-button {
  height: 50px;
  width: 230px;
  text-transform: uppercase;
  background-color: #eff0f2;
  border-radius: 3px;
  border: 2px solid #505050;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.cup-on-beerdekel {
  position: absolute;
  height: 120px;
  width: 150px;
  right: 200px;
  bottom: 100px;
}
.cup-on-beerdekel .beerdekel {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 5px;
  border-radius: 5px;
}
.cup-on-beerdekel .glass {
  position: absolute;
  z-index: 2;
}

.about-section {
  background-color: #f8fafa;
  padding: 0 135px;
}
.about-section .about-section__header {
  grid-template-rows: 180px 1fr;
}
.about-section .about-section__information {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.about-section .about-section__information .about-section__photo_box-shadow_around {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-section .about-section__information .about-section__description {
  margin: 0 55px;
}
.about-section .about-section__information .about-section__description .about-section__description-header {
  text-transform: uppercase;
  padding-bottom: 30px;
}
.about-section .about-section__information .about-section__description .about-section__description-text {
  padding-bottom: 45px;
}

.works-section {
  position: relative;
}
.works-section .modal-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 43, 46, 0.8);
  display: grid;
}
.works-section .modal-window .modal-window__photo {
  width: 80%;
  height: 80%;
  justify-self: center;
  align-self: center;
}
.works-section .works-section__header {
  grid-template-rows: 180px 1fr;
}
.works-section .our-works {
  grid-template-columns: repeat(3, 375px);
  grid-template-rows: repeat(2, 360px);
  justify-self: center;
}
.works-section .our-works .our-works__photo-container {
  list-style-type: none;
}
.works-section .our-works .our-works__photo-container .our-works__photo {
  width: 100%;
  height: 100%;
}

.team-section {
  grid-template-rows: 160px 1fr;
}
.team-section .team-section__header {
  grid-template-rows: 140px 1fr;
}
.team-section .team-section-photos {
  grid-template-columns: repeat(3, 365px);
  grid-template-rows: repeat(2, 440px);
  justify-self: center;
}
.team-section .team-section-photos .team-section-photos__photo-container {
  position: relative;
  list-style-type: none;
  display: grid;
}
.team-section .team-section-photos .team-section-photos__photo-container .information-block {
  display: none;
}
.team-section .team-section-photos .team-section-photos__photo-container:hover .information-block {
  position: absolute;
  width: 90%;
  height: 55%;
  background-color: #6eeee4;
  border-radius: 3px;
  display: grid;
  justify-self: center;
  justify-items: center;
  bottom: 15px;
  padding: 30px 40px;
}
.team-section .team-section-photos .team-section-photos__photo-container:hover .information-block .information-block__header {
  text-transform: uppercase;
}
.team-section .team-section-photos .team-section-photos__photo-container:hover .information-block .information-block__header-span {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
}
.team-section .team-section-photos .team-section-photos__photo-container:hover .information-block .information-block__text {
  overflow-y: auto;
}
.team-section .team-section-photos .team-section-photos__photo-container:hover .information-block .information-block__icons-list .information-block-icon__svg:hover {
  color: #bbb8b9;
}
.team-section .team-section-photos .team-section-photos__photo-container .team-section-photos__photo {
  width: 100%;
  height: 100%;
}

.data-section .our-contacts, .data-section .form-private-data {
  height: 460px;
  width: 610px;
  background-color: #485862;
  opacity: 0.8;
  align-self: center;
  padding: 0 30px;
  display: grid;
}

.data-section .form-private-data .form-private-data__textarea, .data-section .form-private-data .form-private-data__input {
  background-color: #485862;
  border: 0px;
  border-bottom: 1px solid #bbb8b9;
}
.data-section .form-private-data .form-private-data__textarea::placeholder, .data-section .form-private-data .form-private-data__input::placeholder {
  color: #bbb8b9;
}

.data-section {
  background-image: url("./assets/backgroundWithWinter.png");
  display: grid;
  grid-template-columns: 625px 1fr;
  padding: 0 150px;
  column-gap: 10px;
}
.data-section .form-private-data .form-private-data__button {
  width: 240px;
  height: 50%;
  align-self: center;
  border-radius: 3px;
  background-color: #6eeee4;
  text-transform: uppercase;
  border: 0px;
}
.data-section .our-contacts {
  width: 500px;
  grid-template-rows: 30% 15% 1fr;
  padding: 20px;
  color: #bbb8b9;
}
.data-section .our-contacts .our-contacts__map {
  width: 100%;
  height: 100%;
  background-color: white;
}

/*# sourceMappingURL=App.css.map */
